* {
    box-sizing: border-box;
}


html, body {
    height: 100%;
}

body {
    background-color:#dceaf9;
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: #2c2c2c;
    width: 400px;
    height: 500px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

#calcDisplay {
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: #e0e0e0; 
    color: black;
    border: 6px solid black;
    font-size: 20px;
    height: 80px;
    padding-right: 20px;
    margin: 16px;
}


#rowContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 16px;
    margin-bottom: 16px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-color:#2c2c2c;
}

.row button {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    border: 2px solid #2c2c2c;
    border-radius: 12px;
    font-size: 28px;
    transition: filter 0.15s ease;
    
}

.activeOperator {
    background-color: #ffc107 !important;
}


.number:active, .function:active {
    filter: brightness(1.4);
}

#zero {
    flex: 2.2;
}


.number {
    background-color: dodgerblue;
}


.function {
    background-color: teal;
}

.operator {
    background-color: #ff6b6b;
}

#equal {
    background-color: #ff6b6b;
}

#equal:active {
    filter: brightness(1.8);
}